*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
*.MF
target/
*.iml
*.ipr
*.iws
*.log
.settings/
.classpath
.project
.metadata/
.idea/
logs/
.log
dev.properties
dependency-reduced-pom.xml
/bin
.mymetadata